<ion-view view-title="Favorites">
  <ion-content>
   	<div class="list" ng-show="showSearch">
	  <div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="Search Songs" ng-model="favourite.searchSong">
	    </label>
	  </div>
	</div>
    <ion-list>
		<ion-item angular-ripple ng-class-odd="'odd'" ng-class-even="'even'" class="item-icon-right" ng-repeat="song in favourite.list | filter : favourite.searchSong" ng-click="showPlayNow(song.Id,$index,false)">
			{{song.Title}} | {{song.Author}}
			<i class="icon ion-ios-musical-note"></i>
		</ion-item>
	</ion-list>
	<div class="row" ng-show="favourite.list.length == 0">
		<h3 class="not-show">There aren't songs yet</h3>
	</div>
  </ion-content>
</ion-view>
