<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content ion-side-menu-content-scale>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-search" ng-click="globalSearch()">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
    <!-- reproductor en todas las vistas -->
    <div class="music-controls" ng-hide="hideMiniControls" ng-show="!hideMiniControls">
      <div class="row no-left no-right">
      <div class="col-20 coverButtons">
        <div class="single-case">
          <div class="overlay"></div>
          <img class="cover" src="{{songCover}}"/>
          <div class="vinyl">
            <img src="img/vinyl.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-60 scroll-left">
        <p class="song-title">{{songTitle}}</p>
        <h3 class="song-artist">{{songAuthor}}</h3>
      </div>
      <!--<div class="col-60 scroll-left">
        <p class="song-title">Work (ft. Dreake ) - Rhianna - Work (ft. Dreake)</p>
        <h3 class="song-artist">Work (ft. Dreake ) - Rhianna - Work (ft. Dreake)</h3>
      </div>-->
      <div class="col-20 coverButtons" ng-click="showPlayNow()">
        <i class="icon ion-android-arrow-forward view-btn"></i>
      </div>
      <!--<div class="col text-center" ng-click="prevSong(songPosition)">
        <i class="icon ion-ios-rewind-outline control"></i>
      </div>
      <div class="col text-center">
        <i class="icon ion-ios-pause-outline control action-box pause" ng-show="isPlaying" ng-click="pauseSong()"></i>
          <i class="icon ion-ios-play-outline control action-box"  ng-hide="isPlaying" ng-click="playSong()"></i>
      </div>
      <div class="col text-center" ng-click="nextSong(songPosition)">
        <i class="icon ion-ios-fastforward-outline control"></i>
      </div>-->
    </div>
    </div>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="bar-calm menu-left-axis">
    
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="app.songlist" transitiontype="slide" direction="left" go-native>
          All Songs
        </ion-item>
        <ion-item menu-close ui-sref="app.favourites" transitiontype="slide" direction="left" go-native>
          Favourites
        </ion-item>
        <ion-item menu-close ui-sref="app.playlists" transitiontype="slide" direction="left" go-native>
          Playlists
        </ion-item>
        <ion-item menu-close ui-sref="app.feedback" transitiontype="slide" direction="left" go-native>
          Feedback
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
