<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content ion-side-menu-content-scale>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-search" ng-click="globalSearch()">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="bar-calm menu-left-axis">
    
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="app.songlist" transitiontype="slide" direction="left" go-native>
          All Songs
        </ion-item>
        <ion-item menu-close ui-sref="app.favourites" transitiontype="slide" direction="left" go-native>
          Favourites
        </ion-item>
        <ion-item menu-close ui-sref="app.playlists" transitiontype="slide" direction="left" go-native>
          Playlists
        </ion-item>
        <ion-item menu-close ui-sref="app.feedback" transitiontype="slide" direction="left" go-native>
          Feedback
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
