<ion-modal-view ng-controller="nowPlayingCtrl as playing">
	<ion-header-bar>
		<button class="button button-icon icon ion-android-arrow-back" ng-click="songList.closePlayNow()"></button>
	      <h1 class="title">Now playing</h1>
	      <button class="button button-icon icon ion-android-funnel"></button>
    </ion-header-bar>
	<ion-content class="nowPlayingSong pane" style="top:3em">
		<div class="case">
			<div class="overlay"></div>
			<img class="cover" src="{{playing.song.Cover}}"/>
					<div class="slotwrapper">
				<div class="slot"></div>
			</div>
			<div class="vinyl">
				<img src="img/vinyl.png" alt="">
			</div>
		</div>

		<div class="row">
			<div class="col" ng-class="{'scroll-left' : playing.song.Author.length >= 25}">
				<h2 id="song-artist" class="song-title">{{playing.song.Author}}</h1>
				<h3 id="song-title">{{playing.song.Title}}</h2>
				<h1 id="song-duration">
				<span ng-show="playing.totalDuration.h > 0">{{playing.totalDuration.h}}:</span>{{playing.totalDuration.m}}:{{playing.totalDuration.s}} / 
				<span ng-show="playing.song.Duration.h > 0">{{playing.song.Duration.h}}:</span>{{playing.song.Duration.m}}:{{playing.song.Duration.s}}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col" ng-click="prevSong(songPosition)">
				<i class="icon ion-ios-rewind-outline control"></i>
			</div>
			<div class="col text-center">
				<div class="outer">
				 <svg width="65" height="65" xmlns="http://www.w3.org/2000/svg" class="nowPlayginSVG">
				     <g>
				      <circle id="circle" class="circle_animation" r="29" cy="30" cx="30" stroke-width="2" stroke="#fe7cd4" fill="none" style="display: inline-block;"></circle>
				     </g>
				    </svg>
				</div>
				<i class="icon ion-ios-pause-outline control action-box pause" ng-show="isPlaying" ng-click="pauseSong()"></i>
    			<i class="icon ion-ios-play-outline control action-box"  ng-hide="isPlaying" ng-click="playSong()"></i>
			</div>
			<div class="col" ng-click="nextSong(songPosition)">
				<i class="icon ion-ios-fastforward-outline control"></i>
			</div>
		</div>
		<!-- other controls -->
		<div class="row" id="other-controls">
			<div class="col-50" ng-click="shuffle()">
				<i class="icon" ng-class="{'active' : isShuffle, 'ion-ios-shuffle-strong' : isShuffle, 'ion-ios-shuffle' : !isShuffle}"></i>
			</div>
			<div class="col-50" ng-click="addtoFavorites(songId)">
				<i class="icon" ng-class="{'active' : playing.isFavorite, 'ion-android-favorite' : playing.isFavorite, 'ion-android-favorite-outline' :  !playing.isFavorite}"></i>
			</div>
		</div>
	</ion-content>
</ion-view>