<ion-modal-view ng-controller="nowPlayingCtrl as playing">
	
	<div class="top-bar">
		<button class="button button-icon icon ion-android-arrow-back" ng-click="songList.closePlayNow()"></button>
	      <h1 class="title">Now playing</h1>
	      <button class="button button-icon icon ion-android-funnel" ng-click="playing.openPopover($event)"></button>
	      <div class="clearfix"></div>
	 </div>
   
	<ion-content class="nowPlayingSong pane no-header" style="top: 1px;">
		
		<div ng-show="style == 'brown'">
			<div ng-include="'templates/controls/brown.html'"></div>
		</div>

		<div ng-show="style == 'material'">
			<div ng-include="'templates/controls/material.html'"></div>
		</div>

	</ion-content>
</ion-view>