<ion-view title="Settings">
	<ion-content>
		<ion-list>
			<ion-item class="item-divider">
				Themes
			</ion-item>
			<ion-radio angular-ripple ng-click="settings.setTheme('material')" ng-model="settings.curTheme" ng-value="'material'">Material</ion-radio>
  			<ion-radio angular-ripple ng-click="settings.setTheme('brown')" ng-model="settings.curTheme" ng-value="'brown'">Brown</ion-radio>
  			<ion-radio angular-ripple ng-click="settings.setTheme('dark')" ng-model="settings.curTheme" ng-value="'dark'">Dark</ion-radio>
			<ion-item class="item-divider">
				Feedback
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>