<ion-view view-title="Songs">
  <ion-content>
    <ion-list>
		<!--<ion-item class="item item-thumbnail-left" ng-repeat="song in playlist.songList" ui-sref="app.nowplaying({id : song.Id})">
		      <img src="{{song.Cover}}">
		      <h2>{{song.Title}}</h2>
		      <p>{{song.Album}}</p>
		</ion-item>-->
		<ion-item class="songFile" ng-repeat="song in songList.list" ui-sref="app.nowplaying({id : song.Id, position : {{$index}} } )">
			<div class="single-case">
				<div class="overlay"></div>
				<img class="cover" src="{{song.Cover}}"/>
				<div class="vinyl"></div>
			</div>
			<h2>{{song.Title}}</h2>
			<p>{{song.Album}}</p>
		</ion-item>
	</ion-list>
  </ion-content>
</ion-view>
